html, body {
    /*font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "STHeiti", "微软雅黑", "Microsoft YaHei", sans-serif;*/
    font-family: "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;*/
}

* {
    box-sizing: border-box;
}

/* 限制一行字数，超出部分显示... */
.word-keep {
    display: block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 限制多行字数，超出部分显示... */
.word-keep-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.word-justify {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-align: justify;
}

/* 隐藏元素 元素的位置也没有 不会触发其点击事件*/
.hide {
    display: none;
}

.show {
    display: block;
}

/* 隐藏元素 元素的位置还在 只是设置了透明度 可以触发点击事件*/
.transparent {
    opacity: 0;
}

/* 隐藏元素 但是元素的位置还在 无法触发其点击事件*/
.invisible {
    visibility: hidden;
}

/* 隐藏元素 只是超出部分不显示, 配合js动画使用*/
.ov {
    overflow: hidden;
    _zoom: 1;
}

/* 隐藏文本 */
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

/* 空元素 */
.empty {
    height: 1.3rem;
    background: #f4f3f9;
    content: "";
}

/* 加粗 */
.b {
    font-weight: bold;
}

i {
    font-style: normal;
}

/* 删除线样式 */
.text_through {
    text-decoration: line-through;
}

/* 居中对齐 */
.vertical-middle {
    vertical-align: middle;
}

.dashed {
    border-bottom: 1px dashed #cccccc;
}

.Opacity {
    opacity: .5;
    filter: alpha(opacity=50);
}

/* 错误消息 */
#errormsg {
    color: #f5423b;
}

.red_color {
    color: #ff4e5c;
}

.gray_color {
    color: #b9b9b9;
}

/* ==============
   表单样式
   ============== */
select,
textarea,
input[type=text],
input[type=search],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=tel],
input[type=color] {
    font-weight: normal;
    -webkit-user-select: text;
    user-select: text;
    outline-style: none;
    background: #fff;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 1.14666667rem;
    line-height: 1.14666667rem;
    padding: 0.4rem 0.33333333rem;
    border-radius: 0;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="submit"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
button:focus {
    border-color: #606060;
}

input:focus {
    border-color: #606060;
}

button {
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    border: none;
    border-radius: 0.04rem;
}

textarea {
    resize: none;
    overflow: auto;
}

input,
textarea,
select {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 0.04rem;
}

input:focus,
textarea:focus {
    border-color: #333;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

input:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

/* 获取验证码按钮*/
.getvalidcode {
    color: #a3a3a3;
    background: #fff;
    border: 0.015625rem solid #d2d2d2;
}

.getvalidcode.active {
    background: #e2e2e2;
    border-color: #e2e2e2;
}

button#getVcode.disabled {
    background: #f1f1f1;
    color: #a6a6a6;
    border-color: #f1f1f1;
}

/* ==============
   清除浮动样式
   ============== */
.cf:before,
.cf:after {
    display: table;
    content: ' ';
}

.cf:after {
    clear: both;
}

/* 弹窗蒙板背景样式 */
.bg {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
}

/* 分享浮动层 */
#share {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: right;
    background: rgba(0, 0, 0, 0.7) url(/public/static/img/share.png) no-repeat 100% 0;
    background-size: 6.25rem 6.25rem;
}

/* ===========
   placeholder颜色重置
   =========== */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #9296b2;
    opacity: 1;
    font-size: 0.75rem;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #9296b2;
    opacity: 1;
    font-size: 0.75rem;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #9296b2;
    opacity: 1;
    font-size: 0.75rem;
}

::-webkit-input-placeholder {
    color: #b1b1b1;
}

::-moz-input-placeholder {
    color: #b1b1b1;
}

:-moz-placeholder {
    color: #9296b2;
    opacity: 1;
    font-size: 0.75rem;
}

::-moz-placeholder {
    color: #9296b2;
    opacity: 1;
    font-size: 0.75rem;
}

:-ms-input-placeholder {
    color: #b1b1b1;
}

/* ==============
   布局样式
   ============== */
.fl {
    float: left;
}

.fr {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.center {
    right: 0;
    left: 0;
    margin: auto;
}
